<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

    <div class="field">
      <%# pp nested_set_options(User){|i| "#{'-' * i.level} #{i.name}" } %>
      <%# pp  nested_set_options(User, @user){|i| "#{'-' * i.level} #{i.name}" } %>
      <%= form.select :parent_id, nested_set_options(User, @user) {|i| "#{'-' * i.level} #{i.name}" },include_blank: true %>

      <%#= select_tag 'parent_id', options_for_select(nested_set_options(User) {|i| "#{'-' * i.level} #{i.name}" } ) %>
    </div>

    <div class="form-group">
      <%= rucaptcha_input_tag(class: 'form-control', placeholder: '输入验证码') %>
      <%= rucaptcha_image_tag(alt: '验证码，点击刷新') %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
